

.App{
  margin-left: 100px;
}
.block{
  border: 3px solid black;
  width: 150px;
  background-size: cover;
  display: inline-block;
  height: 150px;

}
 
.mark1{
  background-image: url(/public/images/dot.png);
}
.mark2{
  background-image: url(/public/images/cross.png);

} 
